<h1>List all restaurants</h1>
<% @restaurants.each do |restaurant|%>
  <ul class="list-group">
    <li class="list-group-item"><h2><%= restaurant.name %></h2></li>
    <%= link_to "more", restaurant_path(restaurant) %>
  </ul>
    <% end %>
  <br>
  <br>
<div class="btn btn-info">
  <%= link_to "add restaurant", new_restaurant_path %>
</div>
